<psf-messages></psf-messages>
<header>
  <div class="grid">
    <div class="col-3">
      <div class="logo">
        <img src="assets/images/PPF_LogoLabel_3.png" alt="Prairie Psalm Farm Logo">
      </div>
    </div>
    <div class="col-4 search">
      <products-search></products-search>
    </div>
    <div class="col-3-offset-1 navigation">
      <psf-nav></psf-nav>
    </div>
    <div class="col-1 tools">
      <i class="pi pi-user p-text-secondary" style="font-size: 1.5rem" ></i>
      <orders-cart-icon></orders-cart-icon>
    </div>
  </div>
</header>
